/* Basic reset for better compatibility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20%;
  padding-top: 4%;
}

#ssr-example lse-tree-selection-node{
  color: rgb(200,0,0);
}

lse-tree-selection{
  display: block;
  margin-bottom: 50px;
}


lse-tree-selection-node {
  color: rgb(0,0,200);
  font-size: bold;
  margin-left: 40px;
  margin-top: 3px;
  display: block;

}

lse-tree-selection-node input:focus + label {
  animation: highlight 1s forwards;
}


@keyframes highlight {
  0% {
      background-color: yellow;
  }
  100% {
      background-color: #f0f2f5;
  }
}